<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pentest</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="undefined" crossorigin="anonymous">

</head>
<body>
  


    
  
  <div class="main-l">
    <h2>Olá, </h2>
    <h3>Selecione uma opção para começar:</h3>
    <ul>
    <li class="main-menu" id="nproj">
     
         
          <i class="fa fa-file" aria-hidden="true"></i>
          <p id="p-new-proj"> Novo Projeto</a>

          
      
    </li>
    <li class="main-menu" id="oproj">
     
      
        <i class="fa fa-folder-open" aria-hidden="true"></i>
        <p id="p-open-proj"> Abrir Projeto</a>

    
  </li>


  </ul>

  
  <div id="modal-ind" class="modal">
    <div class="modal-content">
       <span class="close">&times;</span>
       <div class="met-box">
         <p class="met-title"></p>
         <p class="met-subtitle"></p>
         <span class="met-content">
           
      
       </span>
       <span class="form-box">
             
       </span>
       </div>
    
       </div>
       </form>
         <div class="btn-box">
       
         
       </div>
   </div>
 </div>

  </div>

  <script src="models/Fetch.js"></script>
  <script src="/inc/Util.js"></script>
    <script src="src/controllers/MainMenuController.js"></script>
    <script src="src/index.js"></script>


    
</body>

</html>